@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Página de Inicio";
}


<section class="content-header">
    <h1>Bienvenido @User.Identity.GetUserName()</h1>
</section>
<section class="content">
    <img src="~/Content/img/ReniecGif.gif" width="85%" />
</section>
